**/.git
**/.svn
**/.hg
**/node_modules
**/.next
**/.nuxt
**/.output
**/dist
**/functions/*.js
**/functions/*.js.map
.react-email
.vscode
.wrangler
playwright-report
**/coverage
.yarn
*.hbs
**/public/build
.cache
